* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #FFF576;
}

header ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 2rem;
}

main {
    background-color: #e0d0de;
    padding: 1rem;
}

main ul {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

.card1 .cards {
    height: 110px;
    width: 150px;
    background: greenyellow;
    margin: 1rem;
}

.card2 .cards {
    height: 110px;
    width: 150px;
    background: antiquewhite;
    margin: 1rem;
}

.card1,
.card2 {
    display: flex;
}

.about {
    padding: 1rem;
    text-align: center;
}

.about img[alt='red-card'] {
    padding: 6rem;
    border: 1px solid black;
}